/* ----------------------------------------------------------------- */
/* BASIC SET UP */
/* ----------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(55, 55, 55);
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* ----HEADINGS----- */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;

}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
    /* Relative font size based on the base size of 20px in html*/
    font-size: 240%;
    letter-spacing: 1px; 
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px; 
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* Display a new element after h2 element */
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " " ;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------PARAGRAPH------ */

.long-copy {
    line-height: 145%;
    width: 70%;
    /* The total width would be 100%, so if we want to center it, the remaining 30 percent
    should be distributed to both sides. So 15 percent left, 15 percent right, plus the 70 percent,
    which is our width, makes 100 percent.*/
    margin-left: 15%;
}

/* Selecting all the paragraphs inside the box */
.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------ICONS------ */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}





/* ------BUTTONS------ */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;    
    /* CSS3 transition color change smoother over 0.2 seconds */
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17; 
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff
}

/* ----------------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------------- */

header {
    /* Black gradient filter on top of background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.701)), url(img/hero.jpg);
    /* See whole image */
    background-size: cover;
    /* Center image */
    background-position: center;
    /* Make header as high as the viewport */
    height: 100vh; 
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /* Translate the element half of its width and height */
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    /* Ge rid of bullet points */
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 7px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #cf6d17;
}

/* ----------------------------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 40px;
}



/* ----------------------------------------------------------------- */
/* MEALS */
/* ----------------------------------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style-type: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    /* 100% total width, so break up into 1/4s */
    width: 25%;
}

/* Now, saying that this element with the class "meal-photo"
has a width of 100%, means just
that it has the exact width of its parent,
which is .meals-showcase li. */

/* Background color to black and image opacity to 0.7 to appear darker, then on hover
opacity back to 100%, so cool! */

.meal-photo {
    width: 100%;
    margin: 0;
    /* Overflow hidden, only the part of the image that is still within the container */
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}


/* ----------------------------------------------------------------- */
/* HOW IT WORKS */
/* ----------------------------------------------------------------- */

.section-steps {
    background-color: rgb(240, 240, 240);
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {   
    margin-top: 70px;
    padding-left: 3%;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}


/* Last element will have this margin instead of the defined default stated above */
.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: block;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 5px;
    text-align: center;
    font-size: 150%;
    margin-right: 25px;
    float: left;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

